*{
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{
    text-align: center;
    margin: 40px 0px;
    width: 50%;
    padding: 12px 0px 12px 0px;
    color: #848484;
    border: solid 3px #ed7208;
    border-radius:12px 12px 12px 12px;
}

.apresentacao p{
    margin-bottom: 20px;
}

.apresentacao{
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
    color: rgb(80, 78, 78);
}

.apresentacao li{
    margin-left: 60px;
    margin-bottom: 10px;
}

.title2{
    text-align: left;
    color: #ffffff;
    margin: 80px 0px 40px 0px;
    width: 70%;
    padding: 12px 0px 6px 0px;
    color: #848484;
    border-bottom: solid 3px #ed7208;
}

.equipe{
    display: flex;
    margin-bottom: 30px;
}

.texto{
    text-align: justify;
    background-color: #ffbe86;
    padding: 22px;
}

.texto p:last-of-type{
    margin-top: 20px;
    font-style: italic;
}

.imagem img {
    width: 600px;
    box-shadow: gray 12px 12px 10px  ;
}

.grupo .texto:nth-child(even){
    margin-left: 30px;
    border-radius: 0px 12px 12px 0px; 
    box-shadow: #ed7208 8px 8px 2px;
}

.grupo .texto:nth-child(odd){
    border-radius: 12px 0px 0px 12px; 
    box-shadow: #ed7208 8px 8px 2px;
    margin-right: 30px;
}

.grupo{
    margin-bottom: 40px;
}
.texto a{
    text-decoration: none;
    color: black;
}