/* Reset */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

    body {
        background: #111;
        color: #fff;
    }
/* Fim-Reset */


/* HEADER com efeito neon */
    header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
        background-color: #000; /* Fundo preto */
        width: 100%; /* Ocupa 100% da largura */
        margin: 0; /* Remove margens */
        border-radius: 0; /* Remove bordas arredondadas */
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.8); /* Cria um efeito sobressalente */
        z-index: 10;
    }
/* Fim-HEADER com efeito neon */


/* FOTO com borda neon animada */
    .profile-pic {
        position: relative;
        display: inline-block;
        border-radius: 50%;
        padding: 1px; /* espaço para a borda */
        background: linear-gradient(-45deg, #e81cff, #40c9ff, #fc00ff, #00dbde);
    }

    .profile-pic::before {
        content: '';
        position: absolute;
        top: -6px;
        left: -6px;
        width: calc(100% + 12px);
        height: calc(100% + 12px);
        border-radius: 50%;
        background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
        z-index: -1;
    }

    .profile-pic::after {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        width: calc(100% + 12px);
        height: calc(100% + 12px);
        border-radius: 50%;
        background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
        transform: scale(1.05);
        filter: blur(25px);
        z-index: -2;
        animation: borderGlow 6s linear infinite;
    }

    header img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        display: block;
        background: #000;
    }
/* Fim-FOTO com borda neon animada */


/* Nome e descrição */
    header h1 {
        font-size: 28px;
        margin-top: 25px;
        margin-bottom: 10px;
        color: #fff;
    }

    header p {
        font-size: 18px;
        color: #ccc;
    }
/* Fim-Nome e descrição */


/* SOBRE */
    .sobre {
        position: relative;
        text-align: center;
        padding: 40px 20px;
        max-width: 800px;
        margin: 40px auto;
        background: #000;
        border-radius: 10px;
    }

    .sobre::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        border-radius: 16px;
        background: linear-gradient(45deg, #e81cff, #40c9ff, #fc00ff, #00dbde);
        z-index: -1;
    }

    .sobre::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
        transform: scale(0.98);
        filter: blur(18px);
        z-index: -2;
    }

    .sobre h2 {
        color: #e81cff;
        margin-bottom: 15px;
    }

    .sobre p {
        color: #fff;
    }
/* Fim-SOBRE */


/* PROJETOS */
    .projetos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
        padding: 40px 20px;
    }
/* Fim-PROJETOS */


/* CARD */
    .card {
        position: relative;
        width: 270px;
        height: 450px;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 12px;
        gap: 12px;
        border-radius: 8px;
    }

    .card::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        border-radius: 12px;
        background: linear-gradient(45deg, #e81cff, #40c9ff, #fc00ff, #00dbde);
        z-index: -1;
        transition: transform 0.5s ease-in-out;
    }

    .card::after {
        content: "";
        z-index: -2;
        position: absolute;
        inset: 0;
        background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
        transform: scale(0.95);
        filter: blur(20px);
    }

    .card img {
        width: 100%;
        height: 160px;
        object-fit: contain;
        border-radius: 6px;
        background-color: #fff; /* fundo branco para não ficar preto ao redor */
    }

    .card h3 {
        font-size: 25px;
        font-weight: 700px;
    }

    .card p {
        font-size: 16px;
    }

    .btn-card {
        color: #40c9ff;
        text-decoration: none;
        font-weight: bold;
    }

    .card:hover::after {
        filter: blur(30px);
    }

    .card:hover::before {
        transform: rotate(180deg);
    }
/* Fim-CARD */


/* FOOTER */
    footer {
        text-align: center;
        padding: 20px;
        background: #000;
        color: #fff;
        margin-top: 40px;
        position: relative;
        border-radius: 8px;
        
    }

    footer::before {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
        z-index: -1;
        filter: blur(18px);
    }

    footer a {
        color: #40c9ff;
        text-decoration: none;
        margin: 0 10px;
        font-weight: bold;
    }

    footer a:hover {
        color: #e81cff;
        text-decoration: underline;
    }
/* Fim-FOOTER */


/* ANIMAÇÕES GERAIS */
    @keyframes borderGlow {
        0%, 100% { filter: blur(20px) brightness(1); }
        50% { filter: blur(25px) brightness(1.3); }
    }
/* Fim-ANIMAÇÕES GERAIS */


/* Responsividade */
    @media (max-width: 900px) {
        .projetos {
            gap: 30px;
        }

        .card {
            width: 100%;
            height: 390px;
            min-width: 0;
        }

        .profile-pic img {
            width: 140px;
            height: 140px;
        }
    }

    @media (max-width: 650px) {
        header {
            padding: 25px 5px;
        }

        .sobre, .projetos-container {
            padding: 0 5px;
            margin: 20px 5px;
        }

        .projetos {
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 0;
        }

        .card {
            width: 100%;
            max-width: 100%;
            height: auto;
            min-height: 320px;
            padding: 10px;
        }

        .card img {
            height: 110px;
        }
    }

    @media (max-width: 430px) {
        .profile-pic img {
            width: 100px;
            height: 100px;
        }

        header h1 {
            font-size: 20px;
        }

        header p {
            font-size: 14px;
        }

        .sobre h2 {
            font-size: 18px;
        }

        .card h3 {
            font-size: 18px;
        }

        .card p {
            font-size: 14px;
        }

        footer {
            font-size: 13px;
            padding: 10px;
        }
    }
/* Fim-Responsividade */